.home,
.sanc {
    background-color: black;
    color: white;
    font-family: monospace;
    text-align: center;
}
.home a {
    color: whitesmoke
}
.home img {
    width: 1000px;
    height: 200px;
}
.home h1{
    font-size: 48px;
}

.animate {
    background-image: linear-gradient(rgb(233, 212, 206), rgb(184, 68, 84));
    text-align: center;
    font-family: monospace;
}
.animate p{
    color:rgb(184, 68, 84)
}
.animate ol,
.animate h3,
.animate a {
    color:rgb(233, 212, 206);
    text-align: end;
}
.animate h1{
    color: rgb(97, 36, 44);
    font-size: 60px;
}
.animate img {
    width: 500px;
    height: auto
}

.split {
    font-family: monospace;
    background-color: rgb(245, 149, 105);
    text-align: right;
}
.split h1 {
    font-size: 60px;
    text-align: left;
}
.split .face {
    float: left;
    width: 200px;
}
.sanc {
    text-align: left;
}
.sanc h1 {
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sanc a {
    font-size: 24px;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sanc img {
    width: 250px;
    height: auto;
}
.sanc ol {
    font-size: 18px;
}

.rites {
    background-image: radial-gradient(closest-side, rgb(0, 247, 255), rgb(255, 145, 0), red);
    text-align: center;
    color: darkblue;
    font-family: monospace;
}
.rites h1{
    font-size: 50px;
}
.rites h2 {
    font-size: 24px;
    color: rgb(6, 6, 255);
}
.rites h3 {
    color: white;
}
.rites .burn {
    color: rgb(255, 217, 0);
    font-size: 24px;
}